
.navbar-light .navbar-nav .nav-link {
    color: #333 !important;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #d4af37 !important;
}

.navbar-brand {
    font-weight: bold;
    color: #d4af37 !important;
}


.btn-gold {
    background-color: #d4af37;
    color: white;
    border: none;
}

.btn-gold:hover {
    background-color: #b38c2d;
}


.bi-cart {
    font-size: 18px;
    color: #d4af37;
}

.bi-clock-history {
    font-size: 18px;
    color: #d4af37;
}

img {
    max-width: 100%;
    height: auto; 
    display: block; 
}


.card-img-top {
    width: 100%; 
    height: 300px; 
    object-fit: cover; 
}


.img-fluid {
    max-width: 100%; 
    height: 400px; 
    object-fit: contain; 
}


.my_image {
    width: 100%; 
    height: 300px;
    object-fit: cover; 
    display: block; 
    margin: 0 auto; 
}

.my_image.my_image_padding {
    height: 400px;
    object-fit: cover; 
    margin-bottom: 20px; 
}

.product-buttons .btn {
    margin-bottom: 10px;
}

.product-buttons .btn:last-child {
    margin-top: 15px; 
}

